.border-top-primary {
  border-top: 0.25rem solid #4e73df !important;
}

.schemes-container {
  gap: 2rem;
}

.schemes-container .card {
  flex-basis: 22%;
  min-width: 231px;
}

.schemes-container .card .btn:hover {
  background-color: #4e73df;
  color: white !important;
  text-decoration: none;
}

.plot-profile {
  min-height: calc(100vh - 170.8px);
}

.plot-profile_list ul, .plot-profile_customer-info_list{
  list-style: none;
  text-decoration: none;
}
.plot-profile_list ul li{
  margin-block: 0.5rem;
  font-weight: bold;
}

.search-bar_form > div > label {
  margin-inline: 2rem;
}

.scheme-logo{
  width: 100px;
}


.plot-info > div{
  flex-basis: 30%;
}

.plot-info_table td {
 padding-block: 3rem;
}
