.border-top-primary {
  border-top: 0.25rem solid #4e73df !important;
}

.schemes-container {
  gap: 2rem;
}

.schemes-container .card {
  flex-basis: 22%;
  min-width: 231px;
}

.schemes-container .card .btn:hover {
  background-color: #4e73df;
  color: white !important;
  text-decoration: none;
}